@import "../../../styles/VARIABLES.module.scss";
@import "../../../styles/Classes.module.scss";

@media (max-width: 990px) {
  .paginationBlock {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 991px) {
  .paginationBlock {
    display: flex;
    justify-content: space-around;
  }
}
