@import "../../../styles/VARIABLES.module.scss";

@media (max-width: 990px) {
  .layout {
    display: grid;
    grid-template-rows: 80px 1fr 160px;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .header {
    grid-area: header;
  }

  .main {
    margin-top: 5px;
    min-height: 100vh;
    border-bottom: 1px solid $FOOTER_COLOR;
    grid-area: main;
  }

  .footer {
    grid-area: footer;
    height: 160px;
  }
}

@media (min-width: 991px) {
  .layout {
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas:
      " header header header"
      "main main main"
      "footer footer footer";
  }

  .header {
    grid-area: header;
  }

  .main {
    min-height: calc(100vh - 200px);
    border-bottom: 1px solid $FOOTER_COLOR;
    grid-area: main;
  }

  .footer {
    grid-area: footer;
    height: 80px;
  }
}
