@import "../../../../styles/VARIABLES.module.scss";

@media (max-width: 990px) {
  .header {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0 20px;
    background-color: $HEADER_COLOR;
    border: $MAIN_BACKGROUND_COLOR 2px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 99;
  }

  .openMenuButton {
    z-index: 100;
  }
}

@media (min-width: 991px) {
  .header {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px 0 25px;
    background-color: $HEADER_COLOR;
    border: $MAIN_BACKGROUND_COLOR 2px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 99;
  }
}
