@import "../../../../styles/VARIABLES.module.scss";

@media (max-width: 768px) {
  .header {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0 20px;
    background-color: $HEADER_COLOR;
    border: black 2px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .popupMenu {
    top: 85px;
    right: 0px;
    position: absolute;
    z-index: 90;
    background-color: lighten($HEADER_COLOR, 10%);
    opacity: 95%;
    height: 50vh;
    width: 100%;
    border-radius: 10px;
  }

  .loginBlock {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 20px 0 20px;
  }

  .openMenuButton {
    z-index: 100;
  }
}

@media (min-width: 769px) {
  .header {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0 20px;
    background-color: $HEADER_COLOR;
  }
}
