@import "../../../styles/VARIABLES.module.scss";

@media (max-width: 990px) {
  .root {
    align-self: start !important;
    padding: 20px !important;
    margin: 60px auto 0 !important;
    color: $MAIN_BACKGROUND_COLOR !important;
    background-color: $HEADER_COLOR !important;
    display: flex !important;
    flex-flow: column wrap !important;
  }

  .title {
    padding-bottom: 50px !important;
    font-weight: bold !important;
    text-align: center !important;
    font-size: 1.6em !important;
  }

  .input {
    padding-bottom: 20px !important;
  }

  .button {
    color: $HEADER_COLOR !important;
    background-color: $MAIN_BUTTON_COLOR !important;
  }

  .buttonImgLoad {
    align-self: center;
    color: $HEADER_COLOR !important;
    background-color: $MAIN_BUTTON_COLOR !important;
    height: 50px;
  }

  .avatar {
    display: flex !important;
    margin-bottom: 20px !important;
    justify-content: space-between !important ;
  }

  .image {
    width: 100px;
    border-radius: 50px;
  }
}

@media (min-width: 991px) {
  .root {
    width: 600px !important;
    align-self: start !important;
    padding: 20px !important;
    margin: 60px auto 60px !important;
    color: $MAIN_BACKGROUND_COLOR !important;
    background-color: $HEADER_COLOR !important;
  }

  .title {
    padding-bottom: 50px !important;
    font-weight: bold !important;
    text-align: center !important;
    font-size: 2em !important;
  }

  .input {
    padding-bottom: 20px !important;
  }

  .button {
    color: $HEADER_COLOR !important;
    background-color: $MAIN_BUTTON_COLOR !important;
    &:hover {
      background-color: darken($MAIN_BUTTON_COLOR, 20) !important;
    }
  }

  .buttonImgLoad {
    align-self: center;
    color: $HEADER_COLOR !important;
    background-color: $MAIN_BUTTON_COLOR !important;
    height: 50px;
  }

  .avatar {
    display: flex !important;
    flex-flow: column wrap;
    margin-bottom: 20px !important;
    align-items: center !important ;
    gap: 20px;
  }

  .image {
    width: 250px;
    border-radius: 50px;
  }
}
